<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexDownloaderMgr">
        <method name="createDownloader" sync="true"></method>
        <method name="download"></method>
        <method name="closeDownloader" sync="true"></method>
        <method name="getInfo" sync="true"></method>
        <method name="setHeaders"></method>
        <method name="cancelDownload" sync="true"></method>
        <method name="setDebugMode"></method>
    </plugin>
</uexplugins>
